<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <p>Graden Celsius <input type="number" v-model="c"></p>
        <span>Omgezet naar F: {{toF}}</span>
        <p>Graden Fahrenheit<input type="number" v-model="f"></p>
        <span>Omgezet naar C: {{toC}}</span>



    </div>


    <script>
        const app = {

            data() {
                return {
                    c: 0,
                    f: 0 ,
                    

                }
            },
            watch : {
                c() {
                    this.toF = 
                }
            }


        }



        Vue.createApp(app).mount('#app')


    </script>

</body>

</html>