<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1>Resultaat</h1>
        <div v-for="(cursist, index) in cursisten">
        <h2>Naam: {{ cursist.naam}} </h2>
        <h3>Geslaagd</h3>
        <div v-for="(vak,vakIndex) in cursist.resultaten">
        <p v-if="beoordelingVakken[index][vakIndex] === 1">
            {{vak[0]}} : {{vak[1]}}
        </p>
        </div>
        <h3>Onvoldoende</h3>
        <div v-for="(vak,vakIndex) in cursist.resultaten">
        <p v-if="beoordelingVakken[index][vakIndex] === 0">
            {{vak[0]}} : {{vak[1]}}
        </p>
        </div>
        </div>


    </div>


    <script>
        const app = {

            data() {
                return {
                    cursisten: [
                    {
                        naam: 'Jan',
                        resultaten: [
                        ['html', 40],
                        ['JS', 80],
                        ['JS-OOP', 70]
                        ]
                    },
                    {
                        naam: 'Piet',
                        resultaten: [
                        ['html', 90],
                        ['JS', 90],
                        ['JS-OOP', 20]
                        ]
                    }
                ]
                }
            },
            computed: {
                beoordelingVakken: function() {
                    return this.cursisten.map(cursist => {
                        return cursist.resultaten.map( resultaat => {
                            return resultaat[1] >= 50 ? 1 : 0;
                    })
                })
                }
            }



        }



        Vue.createApp(app).mount('#app')


    </script>

</body>

</html>