<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <input v-model="newPerson">
        <button v-on:click="addPerson()">Voeg toe</button>

        <li v-for="persoon in personen">
                    {{persoon}}
        </li>


    </div>


    <script>
        const app = {

            data() {
                return {
                    personen: [],
                    newPerson: ''
                }
            },
            method: {
                addPerson: function()  {
                    return this.personen.push(newPerson);
                    this.newPerson = '';
                }
            }


        }



        Vue.createApp(app).mount('#app')


    </script>

</body>

</html>